<table class="table table-bordered table-striped">
    <thead class="table-dark">
       <tr>
           <th>Id</th>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Maiden Name</th>
           <th>Age</th>
           <th>Gender</th>
           <th>Email</th>
           <th>Phone</th>
           <th>Username</th>
           <th>Password</th>
           <th>Birth Date</th>
           <th>image</th>
           <th>bloodGroup</th>
           <th>height</th>
           <th>weight</th>
           <th>eyeColor</th>
           <th>hair:color&type</th>
           <th>ip</th>
           <th>address:latituse&langitude</th>
           <th>macAddress</th>
           <th>university</th>
           <th>Bank details</th>
           <th>Comapany</th>
           <th>ein</th>
           <th>ssn</th>
           <th>userAgent</th>
           <th>crypto</th>
           <th>role</th>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor="let studentdetail of studentdetails">
            <td>{{studentdetail.id}}</td>
            <td>{{studentdetail.firstName}}</td>
            <td>{{studentdetail.lastName}}</td>
            <td>{{studentdetail.maidenName}}</td>
            <td>{{studentdetail.age}}</td>
            <td>{{studentdetail.gender}}</td>
            <td>{{studentdetail.email}}</td>
            <td>{{studentdetail.phone}}</td>
            <td>{{studentdetail.username}}</td>
            <td>{{studentdetail.password}}</td>
            <td>{{studentdetail.birthDate}}</td>
            <td><img src="{{studentdetail.image}}" alt=""></td>
            <td>{{studentdetail.bloodGroup}}</td>
            <td>{{studentdetail.height}}</td>
            <td>{{studentdetail.weight}}</td>
            <td>{{studentdetail.eyeColor}}</td>
            <td>{{studentdetail.hair.color}},{{studentdetail.hair.color}}</td>
            <td>{{studentdetail.ip}}</td>
            <td>{{studentdetail.address.address}},{{studentdetail.address.city}},{{studentdetail.address.state}},{{studentdetail.address.stateCode}},{{studentdetail.address.postalCode}},{{studentdetail.address.coordinates.lat}},{{studentdetail.address.coordinates.lng}},{{studentdetail.address.country}}</td>
            <td>{{studentdetail.macAddress}}</td>
            <td>{{studentdetail.university}}</td>
            <td>{{studentdetail.bank.cardExpire}},{{studentdetail.bank.cardNumber}},{{studentdetail.bank.cardType}},{{studentdetail.bank.currency}},{{studentdetail.bank.iban}},</td>
            <td>{{studentdetail.company.department}},{{studentdetail.company.name}},{{studentdetail.company.title}},{{studentdetail.company.address.address}},{{studentdetail.company.address.city}},{{studentdetail.company.address.state}},{{studentdetail.company.address.stateCode}},{{studentdetail.company.address.postalCode}},{{studentdetail.company.address.coordinates.lat}},{{studentdetail.company.address.coordinates.lng}}{{studentdetail.company.address.country}}</td>
            <td>{{studentdetail.ein}}</td>
            <td>{{studentdetail.ssn}}</td>
            <td>{{studentdetail.userAgent}}</td>
            <td>{{studentdetail.crypto.coin}},{{studentdetail.crypto.wallet}},{{studentdetail.crypto.network}}</td>
            <td>{{studentdetail.role}}</td>
            </tr>
    </tbody>
</table>